.row{
    width: 1200px;
    height: 150px;
    display: flex;
    text-align: center;
    flex:4;
}
.col{
    background-color: cadetblue;
    flex:1;
    margin: 20px;
}
.col2{
    flex: 2;
    background-color: cadetblue;
    margin: 20px;
}
.col3{
    flex:2.5;
    background-color: cadetblue;
    margin: 20px;
}
